//====================================================================================================
.main-slider {
	@include adaptiveValue("padding-top", 185, 115);
	@include adaptiveValue("padding-bottom", 70, 30);
	background-color: #0c0b08;
	display: flex;

	// .main-slider__container
	&__container {

		// .main-slider__container_wide
		&_wide {
			flex: 1 1 auto;
			position: relative;
			min-width: 0;
		}

		&:not(.main-slider__container_wide) {
			padding: 0;
		}
	}

	// .main-slider__menu


	// .main-slider__scroll
	&__scroll {
		@media(min-width:em(1445)) {
			position: absolute;
			bottom: 0;
			right: rem(15);
		}

		@media(max-width:em(1445)) {
			display: block;
			padding: 15px 0;

			&::before {
				display: none;
			}
		}

		@media(max-width:em(320)) {
			display: none;
		}
	}
}

.body-main-slider {
	height: 100%;
	display: flex;
	flex-direction: column;

	// .body-main-slider__swiper
	&__swiper {
		flex: 1 1 auto;
		align-items: center;
	}

	// .body-main-slider__slide
	&__slide {
		height: 100%;
	}

	// .body-main-slider__controll
	&__controll {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("padding-top", 88, 88);
		@extend %cuf;
		padding-top: rem(88);
		gap: 8px;

		@media(max-width:em(1445)) {
			padding-top: 0;
		}

		.swiper-pagination-bullet {
			font-weight: 600;
			font-size: 16px;
			line-height: 175%;
			letter-spacing: 0.04em;
			color: #FFF;
			transition: gap 0.3s ease 0s;
			display: flex;
			gap: 0px;
			align-items: center;

			&::after {
				content: "";
				width: 0;
				transition: all 0.3s ease 0s;
				background-color: #DCCA87;
				flex: 0 0 0px;
				height: 1px;
			}
		}

		.swiper-pagination-bullet-active {
			gap: 8px;

			&::after {
				background-color: #DCCA87;
				content: "";
				width: 16px;
				flex: 0 1 16px;
			}
		}
	}
}

.slide-main-slider {
	display: grid;
	gap: 0;
	padding: 25px 0 0 0;
	opacity: 0 !important;
	pointer-events: none;

	@media(max-width:em(1445)) {
		padding: 50px 0;
	}

	@media(min-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	&.swiper-slide-active {
		pointer-events: auto;
		opacity: 1 !important;
	}

	// .slide-main-slider__content
	&__content {
		align-self: center;
		justify-items: start;
		display: grid;
		gap: 32px;

		@media(min-width: $tablet) {
			min-width: rem(500);
			padding-right: 40px;
		}

		@media(max-width: $mobile) {
			justify-items: stretch;
		}
	}

	// .slide-main-slider__header


	// .slide-main-slider__text


	// .slide-main-slider__button
	&__button {
		margin-bottom: 50px;
		text-align: center;
	}

	// .slide-main-slider__image-ibg
	&__image-ibg {
		padding-bottom: percent(619, 688);
		position: relative;
		max-height: 736px;
		height: 100%;
		align-self: center;

		@media(min-width: $tablet) {
			margin-right: percent(25, 650);
			min-height: 736px;
			height: 100%;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			background-color: $mainYellow;
			transition: transform 0.3s ease 0s;
			width: percent(435, 619);
			height: percent(435, 688);

			@media(max-width: $tablet) {
				display: none;
			}
		}

		&::before {
			top: 0;
			right: 0;
			transform: translate(25px, -25px);
		}

		&::after {
			bottom: 0;
			left: 0;
			transform: translate(-25px, 25px);
		}

		img {
			transition: transform 0.3s ease 0s;
			z-index: 2;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(30px, -30px);
				}

				&::after {
					transform: translate(-30px, 30px);
				}

				img {
					transform: scale(1.05);
				}
			}
		}
	}
}


.menu-main-slider {
	position: absolute;
	left: rem(15);
	top: 0;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media(min-width:em(1445)) {
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
		padding: rem(40);
	}

	// .menu-main-slider__link
	&__link {
		font-size: rem(18);
		line-height: 175%;
		letter-spacing: 0.04em;
		color: $mainWhite;
		padding: 20px 20px;


		@media(min-width:em(1445)) {
			transform: rotate(-180deg);
			writing-mode: vertical-lr;

		}

		@media (any-hover: hover) {
			&:hover {
				color: $mainYellow;
			}
		}

		&_current {
			color: $mainYellow;
		}
	}
}

//====================================================================================================
.mainpage {

	// .mainpage__about

	&__about {
		position: relative;
		@include adaptiveValue("padding-top", 185, 30);
		@include adaptiveValue("padding-bottom", 70, 30);

		&:before {
			content: "G";
			@extend %cuf;
			font-size: rem(650);
			font-weight: 700;
			color: #272727;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

		}
	}
}

.about-section {

	// .about-section__container

	&__container {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		gap: 30px;

		@media(max-width: $tablet) {
			flex-direction: column;
		}

		@media(min-width: $mobile) {
			display: flex;
			align-items: center;
		}
	}

	// .about-section__content

	&__content {
		display: grid;
		gap: 32px;
		align-content: start;
		justify-items: start;



		@media(min-width: $tablet) {
			&:first-child {
				text-align: right;
				justify-items: end;
			}

			.about-section__title {
				justify-items: end;

				&::after {
					transform: rotate(-180deg);
				}

			}
		}

		// @media(max-width: $mobile) {
		// 	display: flex;
		// 	align-items: center;
		// 	justify-items: end;
		// 	text-align: right;
		// }
	}

	// .about-section__title

	&__title {
		display: grid;
		@include adaptiveValue("font-size", 64, 40);
		@extend %cuf;
		color: $mainYellow;
		gap: 8px;
		margin-bottom: em(32, 64);
		// align-items: end;



		&::after {
			@extend %ic;
			content: "\e905";
			color: $mainYellow;
			font-size: em(9, 64);


		}
	}

	// .about-section__text

	&__text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
	}

	// .about-section__button

	&__button {
		display: flex;
		// justify-items: flex-end;
	}

	// .about-section__knife

	&__knife {
		flex: 0 0 percent(255, 1330);
		padding: 0 rem(15);
		text-align: center;

		img {
			max-width: 100%;

			@media(max-width:$mobile) {
				display: none;
			}
		}
	}
}




//====================================================================================================